/* CSS Stles */

body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(254, 243, 226);
}

h1 {
    color:rgb(250, 64, 50);
}

li {
    display: inline-block;
    color: white;
    background-color: rgba(250, 129, 47, 0.4);
    font-weight: bold;
    width: 400px;
    padding: 100px 10px;
    margin: 12px;
    border: 5px rgb(250, 64, 50) dotted;
    justify-content: center;
}